.accordion{
    background: #eee;
    color:#444;
    cursor: pointer;
    padding: 18px;
    text-align: left;
    border: none;
    outline: none;
    transition: .4s;
    width: 100%;
}
.active, .accordion:hover{
    background: #ccc;
}


.accordion:after{
    content:'+';
    float: right;
    font-weight: bold;
}
.active:after{
    content: '\2212';
}
.panel{
    padding: 0 18px;
    background: white;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}